cars.csv
.env
/venv
.~lock.kolesa.xlsx#
chromedriver
backend/app/kolesa.xlsx
check.py
__pycache__/
parse_selenium.py
backend/app/parse.py
backend/app/check_redis
backend/app/webapp/
backend/app/templates/check_redis.html
kolesa.xlsx
backend/app/templates/kolesa.html