
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <table  style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0"><colgroup>
<col  style="width: 294.71999999999997px">
<col  style="width: 150.72px">
<col  style="width: 198.71999999999997px">
<col  style="width: 102.72px">
<col  style="width: 342.71999999999997px">
<col  style="width: 342.71999999999997px">
</colgroup>
<tr>
<td id="List1!A1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Марка</td>
<td id="List1!B1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Цена</td>
<td id="List1!C1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Город</td>
<td id="List1!D1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Дата</td>
<td id="List1!E1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Телефон</td>
<td id="List1!F1" style="border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-style: solid;border-left-width: 1px;border-right-style: solid;border-right-width: 1px;border-top-style: solid;border-top-width: 1px;font-size: 11.0px;font-weight: bold;height: 19pt;text-align: center">Ссылка</td>
</tr>
<tr>
<td id="List1!A2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">ВАЗ (Lada) Granta 2190 (седан)</td>
<td id="List1!B2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 200 000₸</td>
<td id="List1!C2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 776 717 6176 +7 707 688 6448</td>
<td id="List1!F2" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131717855">https://kolesa.kz/a/show/131717855</a></td>
</tr>
<tr>
<td id="List1!A3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Subaru Legacy</td>
<td id="List1!B3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 300 000₸</td>
<td id="List1!C3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 702 606 2462 +7 701 560 1082</td>
<td id="List1!F3" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/130017162">https://kolesa.kz/a/show/130017162</a></td>
</tr>
<tr>
<td id="List1!A4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Nissan Primera</td>
<td id="List1!B4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 350 000₸</td>
<td id="List1!C4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 777 237 1587 +7 747 272 7025</td>
<td id="List1!F4" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131641831">https://kolesa.kz/a/show/131641831</a></td>
</tr>
<tr>
<td id="List1!A5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Nissan Primera</td>
<td id="List1!B5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 800 000₸</td>
<td id="List1!C5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 707 842 4777</td>
<td id="List1!F5" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131189257">https://kolesa.kz/a/show/131189257</a></td>
</tr>
<tr>
<td id="List1!A6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Mitsubishi Chariot</td>
<td id="List1!B6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 600 000₸</td>
<td id="List1!C6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 777 227 5283</td>
<td id="List1!F6" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131511526">https://kolesa.kz/a/show/131511526</a></td>
</tr>
<tr>
<td id="List1!A7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Audi 100</td>
<td id="List1!B7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 650 000₸</td>
<td id="List1!C7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 701 740 0745</td>
<td id="List1!F7" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131431485">https://kolesa.kz/a/show/131431485</a></td>
</tr>
<tr>
<td id="List1!A8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">УАЗ Patriot</td>
<td id="List1!B8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 300 000₸</td>
<td id="List1!C8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 701 766 6248</td>
<td id="List1!F8" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131481051">https://kolesa.kz/a/show/131481051</a></td>
</tr>
<tr>
<td id="List1!A9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Toyota Carina E</td>
<td id="List1!B9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 600 000₸</td>
<td id="List1!C9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 707 467 9890 +7 708 315 6178</td>
<td id="List1!F9" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131430936">https://kolesa.kz/a/show/131430936</a></td>
</tr>
<tr>
<td id="List1!A10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Volkswagen Santana</td>
<td id="List1!B10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 200 000₸</td>
<td id="List1!C10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 701 769 1592</td>
<td id="List1!F10" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131050358">https://kolesa.kz/a/show/131050358</a></td>
</tr>
<tr>
<td id="List1!A11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Mercedes-Benz 190</td>
<td id="List1!B11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">1 750 000₸</td>
<td id="List1!C11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 707 621 3635</td>
<td id="List1!F11" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/128960318">https://kolesa.kz/a/show/128960318</a></td>
</tr>
<tr>
<td id="List1!A12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Subaru Legacy</td>
<td id="List1!B12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 800 000₸</td>
<td id="List1!C12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 747 988 1949 +7 705 182 7626</td>
<td id="List1!F12" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/129110127">https://kolesa.kz/a/show/129110127</a></td>
</tr>
<tr>
<td id="List1!A13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Subaru Legacy</td>
<td id="List1!B13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">2 900 000₸</td>
<td id="List1!C13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">Алматы</td>
<td id="List1!D13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">8 февраля</td>
<td id="List1!E13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-size: 11.0px;height: 19pt">+7 747 723 0222</td>
<td id="List1!F13" style="border-bottom: none;border-collapse: collapse;border-left: none;border-right: none;border-top: none;font-decoration: underline;font-size: 11.0px;height: 19pt"><a href="https://kolesa.kz/a/show/131717828">https://kolesa.kz/a/show/131717828</a></td>
</tr>
</table>
    </body>
    </html>
    