{% extends "base.html" %}

{% block title %}
    <title> New Parser </title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3> New Parser</h3>
        <form method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" required class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="num_adds" class="form-label">Number of adds</label>
                <input type="number" required class="form-control" name="num_adds">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" name="city">
            </div>            
            <div class="mb-3">
              <label for="price1" class="form-label">Price From</label>
              <input type="number" class="form-control" name="price1">
            </div>
            <div class="mb-3">
                <label for="price2" class="form-label">Price To</label>
                <input type="number" class="form-control" name="price2">
            </div>
            <a class="btn btn-primary" href="/" role="button">Back</a>
            <button type="submit" class="btn btn-primary">Parse</button>
            <!-- <button class="btn btn-primary" href="docs">Back</button> -->

          </form>
        <h5>{{list_of_celery}}</h5>
    </div>
{% endblock %}